* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Geist', sans-serif !important;
    color:#08090A;
}

.socials {
    display: flex;
    gap: 1rem;
}

.socialIcons {
    width: 2rem;
    height: auto;
}

.socialIcons:hover {
    fill: #0BDA51;
}